#video-grid{
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fill,400px);
}

video{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}